/* VARAIABLES */
:root {
    --bg-dark: #000;
    --color-dark: #fff;

    --bg-light: #fff;
    --color-light: #000;
}




/* ESTILOS */ 
body {
    margin: 0px!important;
}

code.language-print {
    border-left: 2px solid #bf36d8;
    padding: 10px;
    background: #f5f5f5;
    display: block;
}

table {
    margin: auto;
}

.ventydesv {
    display: flex;
    margin: auto;
    width: 90%;
}

.ventydesv ventaja {
    background: #d9ffcc;
    padding: 10px;
    border: 1px solid #8cda97;
    margin: 5px;
    border-radius: 5px;
    align-items: stretch;
    flex-grow: 1;
}

.ventydesv desventaja {
    background: #fcc;
    padding: 10px;
    border: 1px solid #da8c8c;
    margin: 5px;
    border-radius: 5px;
    flex-grow: 1;
}

.numbrerUnit {
    position: absolute;
    font-size: 104px;
    margin: -17px 0px;
}


ol {
    font-family: arial;
    font-size: 14px;
}

.header {
    color: #fff;
    margin: -28px -34px 0px;
    text-shadow: 0px 0px 14px #0000004a;
    padding: 16px 50px;
    text-align: right;
    background: rgb(121,80,143);
    background: linear-gradient(45deg, rgba(143,116,80,1) 0%, rgba(180,170,71,1) 100%);
}

.indice {
    position: fixed;
    width: 343px;
    background: #efefef;
    overflow-y: scroll;
    height: 100%;
}

a {
    text-decoration: none;
    color: #927c5b;
}

.content.wrapper {
    margin: 28px 28px 0px 377px;
}

p {
    font-family: 'EB Garamond';
    text-align: justify;
}

h2 {
    font-family: grotesque;
}

h1 {
    font-family: segoeui;
}

h3 {
    font-family: grotesque;
    padding: 10px 0px 0px 10px;
    margin-bottom: 0px;
}

h4 {
    margin-top: -13px;
    padding: 10px 10px 0px 10px;
    font-family: 'segoeui';
}

subtitle {
    font-family: 'grotesque';
    font-style: italic;
    margin-top: -10px;
    display: block;
}

code.language-plaintext.highlighter-rouge {
    background: #fff6c8;
    border-radius: 4px;
    padding: 0px 4px;
    font-family: unset!important;
}

ul {
    font-family: 'EB Garamond'!important;
}

